@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body{
    font-family: 'Raleway', sans-serif;
    background: radial-gradient(circle, rgba(160,40,248,1) 0%, rgba(114,54,249,1) 75%, rgba(210,106,255,1) 100%);
}
img{
    display: block;
}
.language{
    display: flex;
    justify-content: space-between;
    width: 90px;
    padding: 20px;

}
.language .fr, .language .en{
    border: none;
    background-color: #fff;
    border-radius: 100px;
    padding: 10px;
    font-weight: 600;
}
.language .fr:hover, .language .en:hover{
    background-color: #0A0F0D;
    color: #fff;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 16px;
    width: 350px;
    margin: auto;
    padding: 20px;
}


.search-bar{
    display: flex;
    justify-content: flex-start;
    border-radius: 16px;
}
.search-bar .pin{
    padding: 8px 10px;
}
.search-bar input{
    border: none;
    color: #0A0F0D;
    font-size: 20px;
    width: 80%;
    padding: 10px;
    margin-left: 10px;
    text-transform: uppercase;
}
.search-bar input:active, .search-bar input:focus{
    border: none;
    outline: none;
}
.search-bar input::placeholder{
    color: #0A0F0D;
    font-size: 20px;
    text-transform: capitalize;
}
.search-bar button{
    border: none;
    background: #0A0F0D;
    color: #fff;
    border-radius: 100px;
    padding: 16px;
    transition: 0.2s ease-in;
}
.search-bar button:hover{
    color: #0A0F0D;
    background: #fff;
    padding: 15px;
    border: 2px solid #0A0F0D;
}


.weather-box{
    display: none;
    flex-direction: column;
    text-align: center;
}
.weather-box img{
    width: 60%;
    margin: 20px auto;
}
.weather-box .temperature{
    font-size: 60px;
    font-weight: 700;
}
.weather-box p{
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 18px;
}


.weather-details{
    display: none;
    justify-content: space-between;
    margin: 20px 0 20px;
}
.humidity, .wind{
    display: flex;
    align-items: center;
    width: 50%;
}
.wind-details, .humidity-details{
    margin-left: 10px;
}
.humidity{
    justify-content: flex-start;
}
.wind{
    justify-content: flex-end;
}

.not-found{
    margin: 40px 0;
    text-align: center;
    display: none;
}
.not-found img{
    width: 70%;
}
.not-found p{
    display: inline-block;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 600;
}

.fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}
.active{
    border: 0;
}
@keyframes fadeIn{
    to {
        scale: 1;
        opacity: 1;
    }
}

@media screen and (max-width: 500px){
    .language{
        margin: auto;
    }
    .container{
        width: 300px;
        margin-top: 40px;
    }
}